langchain
langchain-community
langchain-openai
langchain-text-splitters
langchain-groq
langchain_huggingface

streamlit

chromadb
faiss-cpu

python-dotenv

beautifulsoup4

pypdf

tiktoken

openai

sentence-transformers
